body {

    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

/* Ofer title */
.overall_offer_title {

    display: flex;
    justify-content: center;
    background-color: #1D232C;
}

.offer_title {


/* 
    padding: 1px; */
}

.offer_title_text {
    color: white;
    text-align: center;
    font-size: 1.5vw;
   
    margin: 0px;
}

.close_btn {
    width: 20px;
    color: white;
    margin: 0rem 0rem 0rem 3rem;
}


/* nav bar css */

.nav_bar_overall {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    z-index: 4;
    top: 0px;
    background-color: white;

}

.Nostra_title {
    padding: 0rem 0rem 0rem 2rem;
}


.Nostra_text{

    margin: 0px;
}
.menu_dev {
    padding: 0rem 1rem 0rem 0rem;
}

.menu_btn {

    width: 20px;
}

.nav_bar_links {
    display: none;
}


.links {
    color: black;
    text-decoration: none;
    font-size: larger;
}

.links:hover {

    text-decoration: underline;
}

@media screen and (min-width:900px) {


    .nav_bar_links {

        display: flex;
        gap: 30px;
        padding: 0rem 4rem 0rem 0rem;
    }


    .menu_dev {
        display: none;
    }
}

/* Slider */

.container{

padding: 0rem 1rem 0rem 1rem;;
}


.slider_overall{
position: relative;

}
.slider{

    overflow: hidden;
    padding: 0rem 0rem 0rem 0rem;
}

.slider_img{

    width: 100vw;
}


.slider_content{
    display: flex;
    color: white;
    position: absolute;
    top: 15px;
    /* text-align: center; */
    width: 100%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    margin-top: 5vw;
}

/* .slider_content_text_1_div{


} */

.slider_content_text_1{

    font-size: 5vw;
    margin: 0px;
}

.slider_content_text_2{

    margin: 0px;
}


.shop_now_btn{

    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    padding: 8px;
    gap: 10px;
}

.right_arrow_div{


    position: absolute;
    top: 7vw;
    right: 5vw;
}
.right_arrow{

    width: 7vw;
    color: #ffffff;
}

.shop_now_txt{


}
.right_arrow_btn{

    width: 17px;
}

.left_arrow_div{

    position: absolute;
    top: 7vw;
    left: 5vw;

}

.left_arrow{
    width: 7vw;

}



/* Brands css */

.Brands_overall{

    margin-top: 56px;
}

.Brand_list{

    display: flex;
    justify-content: space-between;
}
.list_1{

    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
     
}

.Puma_img{

    width: 5vw;
}

.puma{
    margin: 0rem 0rem 0rem 0rem;
    font-size: 2vw;
}


/* Desc */


.Desc{

    display: flex;
  
    justify-content: space-between;
    align-items: center;
    margin-top: 5vw;
    font-size: 1.5vw;
    margin-bottom: 10px;

}

.Desc_1{
    margin: 0rem 0rem 0rem 0rem;
    font-size: 2vw;

}
.Desc_1_1{

    margin: 0rem 0rem 0rem 0rem;
    font-size: 2vw;
    width: 31vw;

}

.Desc_2{


}


/* Services */
.Servies_overall_div{

    
    font-size: 1vw;
    display: flex;
    gap: 10px;
    margin-top: 1rem;
}

.servie_1{

    width: fit-content;
    background-color: #F2F4F7;
    padding: 10px 1rem 1rem 1rem;
}
.servie_1_img{

    width: 3vw;
}

.servie_1_title{

    margin: 0px;
}

.servie_1_desc{


    margin: 0px;
}

/* Animation */

.animation{
animation-name: zoom;
   
    animation-duration: 3s;

}

@keyframes zoom{

0%{
   
    opacity: 0.1;
   
}


100%{
    opacity: 1;
  
}

}
/* New Arrivals  css*/
.New_aarivals_inside_overall{

}


.New_aarivals_title{
    font-size: x-large;

}


.New_aarivals_list_div{

    display: flex;
    justify-content: space-around;
}

.New_list_1{

    position: relative;
}
.New_list_1_img{

    width: 20vw;
}

.background_screen{
    border-radius: 2%;
    position: absolute;
    width: 20vw;
    height: 100%;
    background-color: black;
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 0.6;
}

.shop_now_btn_new_arr{

    padding: 1vw 2vw 1vw 2vw;
    position: absolute;
    top: 13vw;
    left: 4vw;
    z-index: 3;
    border-radius: 1vw;
    border: none;
    font-size: 1.1vw;
    display: flex;
    gap: 6px;
    align-items: center;
}


.shop_now_btn_1{


}

.right_arrow_btn_new_arr{
    width: 2vw;

}

/* Most Popular section css */


.Most_Popular_title{
    font-size: x-large;

}


.Most_Popular_list_div{

    display: flex;
    justify-content: space-around;
}

.Popular_list_1{

    position: relative;
}

.sale_overlay{
    position: absolute;
    background-color: red;
    color: white;
    width: fit-content;
    font-size: 2.1vw;
    padding: 0px 12px 0px 5px;
    top: 0;
    border-radius: 2px;
    margin: 0px;
}
.like_button{
    position: absolute;
    width: 3vw;
    top: 16vw;
    right: 1vw;
}

/* Limit offer css */

.Overall_limit_offer{

    background-color: #1D232C;
    margin-top: 25px;

}


.limit_offer_inside_overall{

   
    display: flex;
}
.limit_offer_image{

    width: fit-content;
    padding: 3vw 1vw 1vw 4vmin;
}

.limit_offer_img{
    width: 100%;
}

.limited_offer_text{
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    font-size: 2vw;
    padding: 0rem 0rem 0rem 6vw;


}
.limit_offer_title{
    margin: 0px;

}
.limit_offer_desc{

    margin: 0px;

}


.shop_now_btn_limit_off{
    padding: 1vw 2vw 1vw 3vw;
    border-radius: 2vw;
    border: none;
    font-size: 1.1vw;
    display: flex;
    gap: 6px;
    align-items: center;
    width: 15vw;

}

.right_arrow_btn_limit_off{

    width: 2vw;
}

/* News letter */

.news_letter_overall{
    margin-top: 5vw;

}
.news_letter_inside_overall{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2vw;
}

.news_title_div{


}

.news_leter_title{
margin: 0px;

}

.news_leter_desc{

    margin: 0px;
}

.text_input{

    margin-top: 10px;
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid #1D232C 3px;

}

.Subscribe_btn{

    margin-top: 10px;
    font-size: 1.8vw;
    color: #E2E1E1;
    background-color: #1D232C;
    border-radius: 10px;
    border: none;
    padding: 10px;
    display:inline-flex;
    gap: 5px;
}

.next_arrow_btn_limit_off{
    width:2vw;
}

/* footer css */


.footer_overall{
    background-color: #1D232C;
    padding: 10px;
    color: white;
    font-size: 2.2vw;
    padding: 2rem 2rem 1rem 2rem;
    margin-top: 20px;


}

.footer_title{
    margin: 0px;

}

.instagram,.facebook,.twitter{

    width: 2vw;
    margin: 0rem 2rem 0rem 0rem;
}

.social_media_div{

    padding-left: 2vw;
}





/* Collection page css */


.checkbox_1_title{

    width:3vw
}